@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;400;700&display=swap');

$inter : 'Inter', sans-serif;
$inter-300 : 300;
$inter-400 : 400;
$inter-500 : 500;
$inter-bold : 700;